@*@model List<PPOK_System.Models.Drug>*@
@model PPOK_System.Models.Drug
@{
    ViewBag.Title = "TestDrug";
}

<h2>TestDrug</h2>

<div class="container">
    @*@foreach (var d in Model) {
        <p>@d.drug_id - @d.drug_name</p>
    }*@

    <p>@Model.drug_id - @Model.drug_name</p>
</div>