@model PPOK_System.Models.Person

@{
    ViewBag.Title = "Index";
}

@section additionalCSS {
    <style>
        body {
            margin-top: 2%;
        }

        center {
            margin: auto;
        }
    </style>
}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<div class="form-group">
    <label class="col-md-3 control-label" for="searchInput"></label>
    <div class="col-md-3">
        <form id="import-form" action="/Import" method="post" enctype="multipart/form-data">
            <label for="file">Import:</label>
            <input type="file" name="file" id="file" accept=".csv" />
            <input id="import-submit" type="submit" />
        </form>
    </div>
</div>
<div id="import-container" class="modal fade hidden-print" role="dialog"></div>
<div></div>
<div class="container" style='margin-top:75px'>
    <div class="row">


        <div class="col-md-12">
            <h4>Pending Refills</h4>
            <div class="table-responsive">

                <table id="mytable" class="table table-bordred table-striped">

                    <thead>

                    <th>Name</th>
                    <th>Prescription</th>
                    <th>Date</th>
                    <th> </th>

                    </thead>
                    <tbody>

                        <tr>
                            <td>Colby Dial</td>
                            <td>Tylenol</td>
                            <td>03/11/17</td>
                            <td><p data-placement="left" data-toggle="tooltip"><button class="btn btn-primary" data-title="Edit" data-toggle="modal" data-target="#edit">Filled</button></p></td>
                        </tr>

                        <tr>
                            <td>Lane Wheeler</td>
                            <td>Bunion Pads</td>
                            <td>03/19/17</td>
                            <td><p data-placement="left" data-toggle="tooltip"><button class="btn btn-primary" data-title="Edit" data-toggle="modal" data-target="#edit">Filled</button></p></td>
                        </tr>


                        <tr>
                            <td>Rob Thompson</td>
                            <td>Allergy Pills</td>
                            <td>03/19/17</td>
                            <td><p data-placement="left" data-toggle="tooltip"><button class="btn btn-primary" data-title="Edit" data-toggle="modal" data-target="#edit">Filled</button></p></td>
                        </tr>



                        <tr>
                            <td>Calgary Michael</td>
                            <td>Dr. Pepper</td>
                            <td>03/19/17</td>
                            <td><p data-placement="left" data-toggle="tooltip"><button class="btn btn-primary" data-title="Edit" data-toggle="modal" data-target="#edit">Filled</button></p></td>
                        </tr>


                        <tr>
                            <td>Weston Vidaurri</td>
                            <td>Q-Tips</td>
                            <td>03/19/17</td>
                            <td><p data-placement="left" data-toggle="tooltip"><button class="btn btn-primary" data-title="Edit" data-toggle="modal" data-target="#edit">Filled</button></p></td>
                        </tr>

                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>


@*<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control " type="text" placeholder="Pharmacy Name Here">
                </div>
                <div class="form-group">

                    <input class="form-control " type="text" placeholder="Location Here">
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>*@

@section inlineScript {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#mytable #checkall").click(function () {
                if ($("#mytable #checkall").is(':checked')) {
                    $("#mytable input[type=checkbox]").each(function () {
                        $(this).prop("checked", true);
                    });

                } else {
                    $("#mytable input[type=checkbox]").each(function () {
                        $(this).prop("checked", false);
                    });
                }
            });

            $("[data-toggle=tooltip]").tooltip();
        });
    </script>
}


@section scriptsIncludes {
    <script type="text/javascript" src="~/Content/Modules/ImportModule.js"></script>
}
