@model List<PPOK_System.Models.Message>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="col-md-4" id="importSelect">
        <form id="import-form" action="/Import" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-form-label" for="file">Import Patient Data:</label>
                <label class="btn btn-primary" for="file" id="fakeButton">Select File</label>
                <input style="visibility: hidden; display: none;" class="" type="file" name="file" id="file" accept=".csv" onchange="filepathChange()" />
                <input class="btn btn-primary" id="import-submit" type="submit" />
            </div>
            </form>
            </div>
    </div>


            <div class="container">
                <div class="row">


                    <div class="col-md-12">
                        <h4>Pending Refills</h4>
                        <div class="table-responsive">

                            <table id="mytable" class="table table-bordred table-striped">

                                <thead>

                                <th>Name</th>
                                <th>Prescription</th>
                                <th>Date</th>
                                <th> </th>

                                </thead>
                                <tbody>

                                    <tr>
                                        <td>Colby Dial</td>
                                        <td>Tylenol</td>
                                        <td>03/11/17</td>
                                        <td><p data-placement="left" data-toggle="tooltip"><button class="btn btn-primary" data-title="Edit" data-toggle="modal" data-target="#edit">Filled</button></p></td>
                                    </tr>

                                    <tr>
                                        <td>Lane Wheeler</td>
                                        <td>Bunion Pads</td>
                                        <td>03/19/17</td>
                                        <td><p data-placement="left" data-toggle="tooltip"><button class="btn btn-primary" data-title="Edit" data-toggle="modal" data-target="#edit">Filled</button></p></td>
                                    </tr>


                                    <tr>
                                        <td>Rob Thompson</td>
                                        <td>Allergy Pills</td>
                                        <td>03/19/17</td>
                                        <td><p data-placement="left" data-toggle="tooltip"><button class="btn btn-primary" data-title="Edit" data-toggle="modal" data-target="#edit">Filled</button></p></td>
                                    </tr>



                                    <tr>
                                        <td>Calgary Michael</td>
                                        <td>Dr. Pepper</td>
                                        <td>03/19/17</td>
                                        <td><p data-placement="left" data-toggle="tooltip"><button class="btn btn-primary" data-title="Edit" data-toggle="modal" data-target="#edit">Filled</button></p></td>
                                    </tr>


                                    <tr>
                                        <td>Weston Vidaurri</td>
                                        <td>Q-Tips</td>
                                        <td>03/19/17</td>
                                        <td><p data-placement="left" data-toggle="tooltip"><button class="btn btn-primary" data-title="Edit" data-toggle="modal" data-target="#edit">Filled</button></p></td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>

            @*<div class="container" style='margin-top:75px'>
                    <div class="row">


                        <div class="col-md-12">
                            <h4>Pending Refills</h4>
                            <div class="table-responsive">

                                <table id="mytable" class="table table-bordred table-striped">

                                    <thead>

                                        <th>Name</th>
                                        <th>Prescription</th>
                                        <th> </th>

                                    </thead>
                                    <tbody>

                                            @foreach (var p in Model) {
                                                    <tr>
                                                        <td>@p.first_name @p.last_name</td>
                                                        <td>@pr.drug.drug_name</td>
                                                        <td><p data-placement="left" data-toggle="tooltip"><button class="btn btn-primary" data-title="Edit" data-toggle="modal" data-target="#edit">Filled</button></p></td>
                                                    </tr>
                                            }

                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </div>
                </div>*@



            @section inlineScript {
                <script type="text/javascript">
        $(document).ready(function () {
            $("#mytable #checkall").click(function () {
                if ($("#mytable #checkall").is(':checked')) {
                    $("#mytable input[type=checkbox]").each(function () {
                        $(this).prop("checked", true);
                    });

                } else {
                    $("#mytable input[type=checkbox]").each(function () {
                        $(this).prop("checked", false);
                    });
                }
            });

            $("[data-toggle=tooltip]").tooltip();
        });

        function filepathChange() {
            var fileSelected = document.getElementById('file').value;
            if (fileSelected != '')
                document.getElementById('fakeButton').innerHTML = fileSelected;
            else
                document.getElementById('fakeButton').innerHTML = 'Select File';
        }
                </script>
            }


            @section scriptsIncludes {
                <script type="text/javascript" src="~/Content/Modules/ImportModule.js"></script>
            }
