
@{
    ViewBag.Title = "manageCustomer";
}

<style>
    body {
        margin-top: 2%;
    }

    center {
        margin: auto;
    }
</style>

<div class="form-group">
    <label class="col-md-3 control-label" for="searchInput"></label>
    <div class="col-md-3">
        <span><input id="searchInput" name="searchInput" type="search" placeholder="Search...." class="form-control input-md"></span>
        <span><input id="filebtn" name="filebtn" class="input-file" type="file"></span>

    </div>
</div>
<div></div>
<div class="container" style='margin-top:75px'>
    <div class="row">


        <div class="col-md-12">
            <h4>Manage Customer</h4>
            <div class="table-responsive">

                <table id="mytable" class="table table-bordred table-striped">

                    <thead>

                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th> </th>

                    </thead>
                    <tbody>

                        <tr>
                            <td>Colby</td>
                            <td>Dial</td>
                            <td>colby@gmail.com</td>
                            <td><p data-placement="left" data-toggle="tooltip"><button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                        </tr>

                        <tr>
                            <td>Lane</td>
                            <td>Wheeler</td>
                            <td>lane@gmail.com</td>
                            <td><p data-placement="left" data-toggle="tooltip"><button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                        </tr>


                        <tr>
                            <td>Rob</td>
                            <td>Thompson</td>
                            <td>Ronb@gmail.com</td>
                            <td><p data-placement="left" data-toggle="tooltip"><button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                        </tr>



                        <tr>
                            <td>Calgary</td>
                            <td>Michael</td>
                            <td>calgary@gmail.com</td>
                            <td><p data-placement="left" data-toggle="tooltip"><button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                        </tr>


                        <tr>
                            <td>Weston</td>
                            <td>Vidaurri</td>
                            <td>emailfrom@database.com</td>
                            <td><p data-placement="left" data-toggle="tooltip"><button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                        </tr>

                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>


@*<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control " type="text" placeholder="Name from Database">
                    </div>
                    <div class="form-group">

                        <input class="form-control " type="text" placeholder="Location Here">
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>*@

<script>
    $(document).ready(function () {
        $("#mytable #checkall").click(function () {
            if ($("#mytable #checkall").is(':checked')) {
                $("#mytable input[type=checkbox]").each(function () {
                    $(this).prop("checked", true);
                });

            } else {
                $("#mytable input[type=checkbox]").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

        $("[data-toggle=tooltip]").tooltip();
    });


</script>