@model List<PPOK_System.Models.Person>
@{
    ViewBag.Title = "Manage Customers";
}

<style>
    body {
        margin-top: 2%;
    }

    center {
        margin: auto;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Manage Customer</h4>
        </div>
        <table id="customer-table" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model) {
                    <tr>
                        <td>@p.first_name</td>
                        <td>@p.last_name</td>
                        <td>@p.email</td>
                        <td>@p.phone</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@*<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control " type="text" placeholder="Name from Database">
                    </div>
                    <div class="form-group">

                        <input class="form-control " type="text" placeholder="Location Here">
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>*@

@section inlineScript {
    <script>
        $(document).ready(function () {
            $("#customer-table #checkall").click(function () {
                if ($("#mytable #checkall").is(':checked')) {
                    $("#mytable input[type=checkbox]").each(function () {
                        $(this).prop("checked", true);
                    });

                } else {
                    $("#mytable input[type=checkbox]").each(function () {
                        $(this).prop("checked", false);
                    });
                }
            });

            $("[data-toggle=tooltip]").tooltip();
        });
    </script>
}

@section scriptsIncludes {
    <script type="text/javascript" src="~/Content/Modules/ManageCustomersModule.js?Build=@Guid.NewGuid().ToString()"></script>
}